*{
	margin: 0px;
	padding: 0px;	
}

html {
    height: 100%;
}

body{
	font-family: Arial;
	height: 100%;
}

h1{
	text-align: center;
	margin: 20px 0 10px 0;
}

#appContainer{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#QAapp{
	border: 3px solid rgb(83, 41, 160);
	min-width: 230px;
	min-height: 300px;
	border-radius: 11px;	
}
.answerInput{
	height: 5em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.questioner{
	height: 300px;
}

.flexContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#QAapp p{
	text-align: center;
}

#QAapp .error{
	color : red;
	width: 230px;
}

.inVisible{
	display: none;
}

.loader{
	height: 100px;
	width: 100px;
}
